body {
    margin: 0;
}

.header {
    background: #4A8F83;
    position: fixed;
    width: 100%;
    z-index: 9;
}

nav.header-nav {
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2px;
}

nav.header-nav .icon {
    display: none;
}

nav.header-nav ul li {
    list-style: none;
    margin: 0;
    border-left: 2px solid;
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    position: relative;
    margin-top: 2px;
}

nav.header-nav li a {
    color: #000000;
    padding: 0 5px 0 5px;
    transition: all 0.5s ease;
}

nav.header-nav li a:hover {
    color: #FFFFFF;
}

nav.header-nav li:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #4A8F83;
}

.footer img {
    width: 36px;
    height: 36px;
    margin: 10px 10px 10px 10px;
}

#panel-about {
    height: 300px;
    margin-bottom: 150px;
}

#panel-home {
    height: 250px;
    margin-bottom: 100px;
}

#panel-projects {
    margin-bottom: 50px;
}

#panel-projects img {
    width: 144px;
    height: 256px;
    margin: 10px 10px 10px 10px;
}

.panel {
    /** height: 400px; **/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.signature {
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#presentation {
    font-weight: normal;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
   
}

p.title {
    font-weight: normal;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

p.typping {
    color: #4A8F83;
    font-weight: bold;
    border-right: solid 3px #4A8F83;
    overflow: hidden;
    white-space: nowrap;
}

/** Animation **/
p.typping{
    animation: animated-text 4s steps(29,end) 1s 1 normal both, animated-cursor 600ms steps(29,end) infinite;

}

/** Text animation **/
@keyframes animated-text {
    from{width: 0;}
    to{width: 380px;}
}

/** Cursor animation **/
@keyframes animated-cursor {
    from{border-right-color: #4A8F83;}
    to{border-right-color: transparent;}
}

#contentprojects {
    font-size: 20px;
}

#falecomigo {
    font-size: 20px;
    margin-bottom: 10px;
}

/**  Media queries  **/
@media only screen and (max-width: 850px) {
    #panel-about {
        height: 500px;
        margin-bottom: 150px;
    }
    p.title {
        font-size: 14px;
    }
    nav.header-nav ul li a {
        display: none;
    }
    nav.header-nav a.icon, nav.header-nav.responsive a.icon {
        right: 0;
        Color: #000000;
        display: block;
        padding: 0 30px;
        position: absolute;
        z-index: 10;
    } 
    nav.header-nav.responsive a {
        display: block;
        text-align: left;
        float: none;
    }
    nav.header-nav.responsive li {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-group input {
    background: transparent;
    color: #000000;
    text-align: center;
    border: 1px solid #4A8F83;
    margin: 4px;
    outline: none;
    border-radius: 25px;
    transition: 0.5s ease;
}

.form-group button {
    background: #4A8F83;
    color: #000000;
    text-align: center;
    border: 1px solid #4A8F83;
    margin: 4px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s ease;
}

.form-group button:hover {
    background: #00FF7F;
    opacity: 0.8;
}

.alert {
    display: none;
    border: 2px solid #4A8F83;
}
